.header {
  height: 30%;
  background-color: darkslategray;
  padding-left: 25px;
  padding-top: 50px;
}

.sub-header {
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

:host ::ng-deep {
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: aliceblue;


}
