.card {
  background-color: #fff;
  border-bottom: 1px solid #ccc !important;
  width: 100%;
}

.card:hover {
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
}

.block-one {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.block-two {
  display: flex;
  justify-content: flex-start;
}

.sub-color {
  color: #ccc;
  margin-left: 20px;
}

.main-color {
  color: #333;
}
