<div class="card">
  <div class="container">
    <div class="block-one" (click)="goToLink()">
      <p class="main-color">{{cardNew.story_title || cardNew.title}} </p>
      <p class="sub-color" > - {{cardNew.author}} -</p>
    </div>
    <div class="block-two">
      <p class="main-color"> {{cardNew.created_at | dateFormat}}</p>
      <p style="margin-left: 20px; cursor: pointer" (click)="delete()"> <fa-icon  [icon]="fatrash"></fa-icon></p>
    </div>
  </div>
</div>
